body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 30%;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
}

h1, h2 {
    font-size: 2em;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}

#countdown {
    font-size: 1.5em;
    color: #333333;
    animation: pulse 1s infinite;
}

#greeting-container {
    text-align: center;
    margin-top: 20px;
}

#greeting {
    font-size: 1.8em;
    color: #333;
}

#time {
    font-size: 1.2em;
    color: #666;
}

#todo-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    text-align: left;
    margin: 10px 0;
}

#new-item {
    margin-top: 10px;
    padding: 5px;
    width: calc(100% - 12px);
    box-sizing: border-box;
}

.dropdown {
    margin-top: 10px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.hidden {
    display: none;
}

.hidden ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}
