body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.box {
    background: #333333;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

#countdown-box {
    position: sticky;
    top: 0;
    left: 0;
}

#title {
    font-size: 2em;
    margin-bottom: 20px;
}

#countdown {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 20px;
}

#weather {
    margin-top: 10px;
    font-size: 1em;
    color: #ffffff;
}

#todo-section {
    margin-top: 20px;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    margin-bottom: 10px;
    font-size: 1em;
}

#todo-input {
    padding: 5px;
    width: 80%;
    margin-top: 10px;
}

#add-todo {
    padding: 5px;
    background-color: #444444;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.month {
    margin-top: 10px;
}

.dropdown-btn {
    width: 100%;
    padding: 10px;
    background-color: #444444;
    color: white;
    text-align: left;
    border: none;
    cursor: pointer;
}

.dropdown-btn:focus {
    outline: none;
}

.dropdown-content {
    display: none;
    padding: 10px;
    background-color: #555555;
    border-radius: 5px;
}

.month.active .dropdown-content {
    display: block;
}

.switch {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 34px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
    left: 2px;
    bottom: 2px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

#mode-label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333333;
    font-size: 14px;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .box {
    background-color: #444444;
}

.dark-mode #weather, .dark-mode #todo-list, .dark-mode #greeting {
    color: #ffffff;
}
